/*
* ==========================================================================
* Контейнер и сетка
*/

/*
* Background и верхний/нижний градиенты
*/
body {
  background: url("images/main_background.png") #000 repeat;
  position: relative;
  &:before,  &:after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100px;
    content: '';
  }
  &:before {
    top: 0;
    background: linear-gradient(180deg, rgba(0,0,0,0.5), rgba(0,0,0,0));
  }
  &:after {
    bottom: 0;
    background: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0));
  }
}

.content {
  min-height: 100vh;
  /* fix для firefox */
  height: 1px;
  /* fix'ы для градиентов фона */
  position: relative;
  z-index: 1;
  /* шарина контейнера и горизонтально центрирование */
  width: $container_width;
  margin: 0 auto;

  /*
  * Вертикальное центрирование
  * Хоть ie 11 и "понимает" display: flex;
  * но height: auto не дает ему центрировать блок,
  * поэтому долько из-за него используем для вертикального центрирования table и table-cell
  *
  * display: flex;
  * align-items: center;
  * justify-content: center;
  */
  display: table;

  .container {
    display: table-cell;
    vertical-align: middle;

    h1.title {
      font-family: "Exo2.0-Thin", Arial, Helvetica, sans-serif;
      color: white;
      text-align: center;
      margin-top: 3%;
      /*
      * Если хочется чтобы текст масштабировался с окном
      * font-size: 2.5vw;
      */
      font-size: 2em;
    }

    /* горизонтальный блочный элемент */
    .row {
      width: 100%;
      @include clearfix;

      /* столбец на всю щирину (для заголовка) */
      .col-full {
        width: 100%;
        box-sizing: border-box;
      }

      /* столбцы в сетке (см. $col_..._number) */
      .col {
        float: left;
        box-sizing: border-box;

        /*
        * В медиазапросах установим относительную ширину столбцов
        * и настроим размер шрифта в единицах vw.
        * В дочерних элементах будем использовать em
        */
        @include respond-to(xs) {
          width: 1 / $col_xs_number * 100%;
          font-size: $base_font_size / $col_xs_number * 1vw;
          line-height: $base_font_size / $col_xs_number * 1vw;
        }
        @include respond-to(sm) {
          width: 1 / $col_sm_number * 100%;
          font-size: $base_font_size / $col_sm_number * 1vw;
          line-height: $base_font_size / $col_sm_number * 1vw;
        }
        @include respond-to(md) {
          width: 1 / $col_md_number * 100%;
          font-size: $base_font_size / $col_md_number * 1vw;
          line-height: $base_font_size / $col_md_number * 1vw;
        }
        @include respond-to(lg) {
          width: 1 / $col_lg_number * 100%;
          font-size: $base_font_size / $col_lg_number * 1vw;
          line-height: $base_font_size / $col_lg_number * 1vw;
        }
        @include respond-to(xl) {
          width: 1 / $col_xl_number * 100%;
          font-size: $base_font_size / $col_xl_number * 1vw;
          line-height: $base_font_size / $col_xl_number * 1vw;
        }
      }
    }
  }
}
