/*
* Цветовые константы
*/
$COLOR_DEFAULT: #1698d9;
$COLOR_DEFAULT_LIGHT: #666666;
$COLOR_DEFAULT_HOVER: #2ea8e6;
$COLOR_SELECTED: #d91667;
$COLOR_SELECTED_HOVER: #e62e7a;
$COLOR_DISABLED: #b3b3b3;
$COLOR_DISABLED_COMMENTS: #ffff66;

/*
* Нестандартный шрифт, нужен для заголовка.
* Экспортируем из .otf (был в комплекте задачи)
*/
@font-face {
  font-family: 'Exo2.0-Thin';
  src: url('fonts/Exo2.0-Thin.eot');
  src: url('fonts/Exo2.0-Thin.woff') format('woff'),
    url('fonts/Exo2.0-Thin.ttf') format('truetype'),
    url('fonts/Exo2.0-Thin.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

/* ширина основного контейнера */
$container_width: 95%;

/*
* Базовый размер шрифта для items в единицах vw
* (с таким размером выведется самый маленький текст "40 порций и 2 мыши в подарок"
* на экране с 1-м столбцом),
* через медиазапросы установим размер шрифта для .col в единицах vw в зависимости
* от числа столбцов, а для всех "детей" будем использовать em относительно .col
*/
$base_font_size: 3;

/*
* Минимальные ширины различных экранов
*/
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 0px;

/*
* Количество столбцов для экранов с разной шириной (1, 2, 3, 4, 6, 12 штук в строке).
* В задании на больших экранах три упаковки в ряду, поэтому col_lg_number: 3
*/
$col_xl_number: 4;
$col_lg_number: 3;
$col_md_number: 2;
$col_sm_number: 1;
$col_xs_number: 1;
/*
* Хотя наверное лучше так:
* col_(ох_ничего_себе_у_Вас_экра)_number: 12;    :)
$col_xl_number: 6;
$col_lg_number: 4;
$col_md_number: 3;
$col_sm_number: 2;
$col_xs_number: 1;
*/

@mixin respond-to($media) {
  @if $media == xs {
    @media only screen and (min-width: $xs) { @content; }
  }
  @else if $media == sm {
    @media only screen and (min-width: $sm) { @content; }
  }
  @else if $media == md {
    @media only screen and (min-width: $md) { @content; }
  }
  @else if $media == lg {
    @media only screen and (min-width: $lg) { @content; }
  }
  @else if $media == xl {
    @media only screen and (min-width: $xl) { @content; }
  }
}

@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

@import 'normalize';
@import 'container';
@import 'item';
